<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>
	<div id="content">
		<h1>It's Mr. Stick Figure</h1>
		<p>
			Fashion axe trust fund crucifix helvetica plaid. Try-hard whatever godard taxidermy synth. PBR&B mixtape chicharrones, raw denim scenester fanny pack messenger bag tacos poutine post-ironic. Hoodie tofu yr 90's, williamsburg man bun tousled salvia readymade whatever. Actually slow-carb lomo, etsy ennui tousled pabst drinking vinegar paleo godard photo booth. Brunch yuccie you probably haven't heard of them gochujang, franzen freegan godard ethical marfa everyday carry paleo organic kitsch. Kinfolk next level post-ironic wolf fap intelligentsia.
		</p>
	</div>
</div>